<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="wrapper">
  <header>
     <nav >
        <div class="menu-icon">
           <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
           FITOFY
        </div>
        <div class="menu">
           <ul>
              <li><a href="/home.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="/caloriemeter">CALORIEMETER</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="/register">Register</a></li>
              
           </ul>
        </div>
     </nav>
  </header>
</div>

    <div class="wrap">
        <h1 class="register-title">LOGIN</h1>
        <form action="/" method="POST" class="register">
           
           <input name="email" type="email" class="register-input" placeholder="Email address">
           <input name="password" type="password" class="register-input" placeholder="Password">
           <input name="submit" type="submit" value="LOGIN" class="register-button">
        </form>
     </div>
</body>

</html>
